
 .header {
   height: 150px;
   margin-bottom: 4em;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .header{
      max-height: 100px;
      width: auto;
      display: flex;
      justify-content: center;
    }
  }
