
 .header {
   height: 140px;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
  }

  @media (max-width: 768px) {
    .header{
      max-height: 100px;
      width: auto;
      display: flex;
      justify-content: center;
    }
  }
