

.motor-parts{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.motor-parts p{
    text-align: center;
}

.motor-parts span{
   font-size: large;
   color:red;
}

@media (max-width: 768px) {
    .motor-parts img{
        height:200px;
        max-width: 100%;
    }
}
hr{
    height: 4px;
    background-color: red;
    margin-right: 1.4em;
    margin-left: 1.4em;
}
.moto{
    max-width: 90vw;
    margin: 0 auto;
}