

.motor-parts{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.motor-parts p{
    text-align: center;
}

.motor-parts span{
   font-size: large;
   color:red;
}

@media (max-width: 768px) {
    .motor-parts img{
        height:200px;
        max-width: 100%;
    }
}
hr{
    height: 4px;
    background-color: red;
    margin-right: 1.4em;
    margin-left: 1.4em;
}
.moto{
    max-width: 80vw;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .trophy{
      justify-content: center;
      height: 820px;
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      
    }
  
    .banner{
      height: 620px;
      width: auto;
      margin-left: -7em;
      max-width: 100%;
      margin-top: 1.3em;
    }
  }